@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1240px;
  margin: auto;
  padding: 40px;
}

@layer base {
  h1 {
    @apply text-4xl;
  }
}
button {
  @apply border px-5 py-2 mt-5 rounded;
}
input {
  @apply rounded border px-5 py-2 mb-10 bg-slate-900 text-white;
}
.red {
  @apply bg-red-700;
}
.green {
  @apply bg-green-700;
}
