@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1240px;
  margin: auto;
  padding: 40px;
}

@layer base {
  h1 {
    @apply text-4xl;
  }
}
button {
  @apply border px-5 py-2 my-5 rounded;
}

.welcome {
  opacity: 0;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 50px;
  background-image: linear-gradient(
    to bottom,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
