@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1240px;
  margin: auto;
  padding: 20px;
}
button {
  @apply border px-5 py-2 rounded;
}
input {
  @apply rounded px-5 py-2 bg-slate-300 text-slate-900;
}
